{% extends 'base.html.twig' %}

{% block title %}Convert'Crypto
{% endblock %}

{% block body %}
	<main>
		<header>
			<div class="img-logo">
				<img src="{{ asset('./assets/images/crypto.png') }}" alt="Name of the website" class="text-logo">
				<img src="./assets/images/logo.png" alt="Logo of the website" class="logo">
			</div>
			<div class="devise-header">
				<a href="{{ path('form_usd') }}" class="devise--dollar selected">$</a>
				<a href="{{ path('form_eur') }}" class="devise--euro">€</a>
			</div>
		</header>
		<div class="convert">
			<form action="" method="post">
				<div class="form-convert">
					<label for="amount" class="visually-hidden">Amount:
					</label>
					<input type="text" name="devise" id="amount" required>
				</div>
				<div class="form-convert">
					<p>in
					</p>
				</div>
				<div class="form-convert">
					<label for="pet-select" class="visually-hidden">Crypto:
					</label>
					<select name="crypto" id="crypto-select">
						<option value="BTCUSDT">Bitcoin</option>
						<option value="ETHUSDT">Ethereum</option>
						<option value="XRPUSDT">XRP</option>
						<option value="ADAUSDT">Cardano</option>
						<option value="DOGEUSDT">Dogecoin</option>
						<option value="BNBUSDT">Binance Coin</option>
					</select>
				</div>
				<div class="form-convert">
					<input type="submit" value="Convert me please!">
				</div>
			</form>
		</div>
		{% if app.request.attributes.get('_route') == 'post_usd' %}
			<div class="amount-convert">
				<p>
					<span class="result">{{ amountUSD }}$</span>
					=
					<span class="result">{{ amountCrypto }}
						{{ crypto }}</span>
				</p>
			</div>
		{% endif %}
	</main>

{% endblock %}
